.wrapper {
    display: flex;
    margin: 0 1rem;
    background: white;
    position: absolute;
    color: black;
    top: 100%;
    border-radius: 15px;
    z-index: 1000; /* leaflet has z-index of 400, in order to be in front of it we need a value > 400 */
    width: 70%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 1.5rem 1rem;
        min-width: 750px;
    }
 
    .wrapper div {
        border-right: 1px solid #dfdada;
    }
    
    .wrapper div:last-child {
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        min-width: 280px;
    }
}

@media screen and (max-width: 446px) {
    .wrapper {
        width: 85%;
    }
}
