.wrapper {
    position: relative;
    display:flex;
    flex-direction: column;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url('./images/pattern-bg.png');
    background-size: cover;
    color: white;
    padding: 1rem;
    height: 30vh;
    min-height: 220px;
}

.header {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .heading {
        min-height: 275px;
    }
}