.wrapper {
    position: relative;
    display:flex;
    flex-direction: column;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url('./images/pattern-bg.png');
    background-size: cover;
    color: white;
    padding: 1rem;
    height: 30vh;
    min-height: 140px;
}

.header {
    margin-bottom: 0.5rem;
}

.error{
    margin-top: 0.3rem;
    color: red;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .heading {
        height: 45vh;
    }
}